<section class="listing clearfix">
  <div class="listing-posts">
    <% page.posts.each(function(post, i){ %>
      <% if (typeof post.page === "undefined" || post.page === 1) { %>
        <%- partial('archive-post', {post: post}) %>
      <% } %>
    <% }) %>
  </div>
</section>
