<footer class="page-footer">
  <div class="grid">
    &copy; <%= date(new Date(), 'YYYY') %> Samantha &amp; Paul
    &bull;
    <a href="http://www.flickr.com/photos/prhayes/">Flickr</a>
    &bull;
    <a href="http://500px.com/FofR" rel="me">500px</a>
    &bull;
    <a href="http://www.paulrhayes.com/category/photography/" rel="me">Photography</a>
    &bull;
    <a href="http://www.projectnoah.org/users/fofr" rel="me">Project Noah</a>
    &bull;
    <a href="http://twitter.com/fofr" rel="me">Twitter (@fofr)</a>
  </div>
</footer>
