<footer class="site-footer">
  &copy; <%= date(new Date(), 'YYYY') %> Sam &amp; Paul — <a href="/contact/">Contact us</a>
  <div class="page-footer-links">
    <a href="http://www.flickr.com/photos/prhayes/">Flickr</a>
    &middot;
    <a href="http://500px.com/FofR" rel="me">500px</a>
    &middot;
    <a href="http://www.paulrhayes.com/category/photography/" rel="me">Photography</a>
    &middot;
    <a href="http://www.projectnoah.org/users/fofr" rel="me">Project Noah</a>
    &middot;
    <a href="http://twitter.com/fofr" rel="me">Twitter (@fofr)</a>
  </div>
</footer>
