<footer class="page-footer">
  <div class="grid">
    &copy; <%= date(new Date(), 'YYYY') %> Samantha &amp; Paul &mdash; <a href="http://www.flickr.com/photos/prhayes/">More photos on Flickr</a> &mdash; <a href="http://twitter.com/fofr">Follow Paul on Twitter (@fofr)</a>
  </div>
</footer>
