<header class="masthead">
  <% if (is_home()) { %>
    <h1 class="blog-title">
      <small>The Adventures of</small>
      Samantha <span class="blog-title-amp">&amp;</span> Paul
    </h1>
  <% } else { %>
    <a class="masthead-title swing" href="/" rel="home" title="The Adventures of Samantha and Paul" data-key="alt+up">
      <span class="masthead-title-wide">Samantha <span class="masthead-title-amp">&amp;</span> Paul</span>
      <span class="masthead-title-thin">S<span class="masthead-title-amp">&amp;</span>P</span></span>
    </a>
    <div class="top-bar"></div>
  <% } %>
</header>
