<header class="masthead">
  <% if (is_home()) { %>
    <h1 class="blog-title">
      <small>The Adventures of</small>
      Samantha <span class="blog-title-amp">&amp;</span> Paul
    </h1>
  <% } else { %>
    <a class="masthead-title swing" href="/" rel="home" title="The Adventures of Samantha and Paul" data-key="alt+up">
      Samantha <span class="masthead-title-amp">&amp;</span> Paul
    </a>
    <div class="top-bar"></div>
  <% } %>
</header>
