<article class="article wrapper h-entry" role="main">
  <header>
    <h1 class="main-content-title single-title entry-title">
      <%= post.title %>
    </h1>
  </header>
  <div class="single-entry-content entry-content e-content">
    <%- post.content %>
  </div>
</article>
