/* ==========================================================================
   Reset
   ========================================================================== */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, b, i, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

ins, mark {
  background-color: #ff9;
  text-decoration: none;
}

button {
  overflow: visible;
  font-size: 1em;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* ==========================================================================
   Common styles
   ========================================================================== */

h1, h2, h3, h4, h5, h6, strong, .bold, b, th, dt, label, mark {
  font-weight: bold;
}

i, em, .italic, blockquote, cite, q {
  font-style: italic;
}

.norm {
  font-weight: normal;
}

blockquote em,
blockquote cite,
blockquote i {
  font-variant: normal;
}

del,
.strike {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

.lte-ie8 img {
  -ms-interpolation-mode: bicubic;
}

/* ==========================================================================
   Tools
   ========================================================================== */

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
}

.push-left {
  float: left;
}

.push-right {
  float: right;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.hide, [hidden] {
  display: none;
}

.col {
  margin-bottom: -30000px;
  padding-bottom: 30000px;
}

ul ul, ol ol, ol ul, ul ol, dl dl, dl ul, dl ol, ul dl, ol dl {
  margin-bottom: 0;
}

.img-container {
  background-size: cover;
  overflow: hidden;
}

.img-container img {
  display: none;
  max-width: 100%;
}

.lte-ie8 .img-container img {
  display: block;
}

/* ==========================================================================
   Grid
   ========================================================================== */

.g1 { width:60px; }
.g2 { width:140px; }
.g3 { width:220px; }
.g4 { width:300px; }
.g5 { width:380px; }
.g6 { width:460px; }
.g7 { width:540px; }
.g8 { width:620px; }
.g9 { width:700px; }
.g10 { width:780px; }
.g11 { width:860px; }
.g12 { width:940px; }

.g {
  margin: 0 10px;
  overflow: hidden;
  float: left;
  display: inline;
}

.r {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

/* Media object. See https://github.com/stubbornella/oocss/tree/master/core/media
========================================================================== */

.media {
  display: block;
  margin-bottom: 0.66666666666667em; /* 16/24px */
  overflow: hidden;
}

.media--overflow-visible {
  overflow: visible;
}

.media--overflow-visible:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.media-pull-left {
  float: left;
  margin-right: 20px;
}

.media-pull-right {
  float: right;
  margin-left: 20px;
}

.media-body {
  overflow: hidden;
}

.media-body--overflow-visible {
  overflow: visible;
}

/* ==========================================================================
   The Adventures of Samantha and Paul
   ========================================================================== */

/* Typography
   ========================================================================== */

body {
  font-size: 1em;
  line-height: 1.5em;  /* 16px/24px default */
  color: #fff;
  background: #666; /*#74c9e9;*/ /*#678861;*/
}

body, textarea, .sans {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.swing,
.blog-title,
.main-content-title {
  font-family: "swingdancer-1","swingdancer-2", Baskerville, Georgia, cursive;
  font-weight: 200;
}

p, ul, ol, dl, table, address, .r {
  margin-bottom: 24px;
  line-height: 24px;
}

/* Colours
   ========================================================================== */

a {
  color: #fff;
}

a:hover,
a:focus,
a:active {
  text-decoration: underline;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

a.inherit {
  color: inherit;
}

.wrapper,
.grid {
  width: 960px;
  margin: 0 auto;
}

.grid {
  overflow: visible;
}

/* ==========================================================================
   Global header
   ========================================================================== */

.blog-title,
.main-content-title {
  font-size: 96px;
  line-height: 96px;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px, rgba(0, 0, 0, 0.1) 0 1px 0;
  margin: 82px auto 24px;
}

.blog-title {
  margin: 72px auto 36px;
  position: relative;
  max-width: 580px;
  padding: 0 20px;
}

.blog-title small {
  font-size: 24px;
  position: absolute;
  top: 0;
  left: 72px;
  line-height: 1em;
}

.blog-title-amp {
  font-size: 62px;
  color: #ddd;
  margin-right: -20px;
  margin-left: -10px;
  text-decoration: none;
}

/* ==========================================================================
   Navigation
   ========================================================================== */

.masthead-title {
  position: absolute;
  top: 18px;
  left: 20px;
  font-size: 35px;
  margin: 0;
  z-index: 1;
  color: #fff;
  text-shadow: rgba(0,0,0,0.2) 0 1px 0;
}

.masthead-title-amp {
  font-size: 24px;
  color: #ddd;
  margin-right: -5px;
  text-decoration: none;
}

.top-bar {
  position: absolute;
  background: #333;
  background: rgba(0,0,0,0.2);
  width: 100%;
  top: 0;
  left: 0;
  height: 60px;
}

.masthead a {
  text-decoration: none;
}

.masthead a:hover {
  text-decoration: none;
  border-bottom: 3px solid #fff;
}

.masthead nav ul {
  margin: 4px;
}

.masthead nav li {
  display: block;
  float: right;
  padding: 0 1em;
}

/* ==========================================================================
  Next, previous post navigation
   ========================================================================== */

.next-prev-post {
  position: absolute;
  z-index: 1;
  right: 30px;
  top: 17px;
  font-size: 18px;
  font-weight: bold;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {
  position: relative;
  margin: 24px auto 0;
}

.page-footer {
  margin: 3em 0;
  text-align: center;
  text-shadow: rgba(0,0,0,0.8) 0 0 3px;
}

.page-footer-links {
  margin-top: 3px;
}

.page-footer a {
  color: #fff;
}

/* ==========================================================================
   Listing
   ========================================================================== */

.listing {
  border-top: 20px solid rgba(0,0,0,0.25);
  border-bottom: 20px solid rgba(0,0,0,0.25);
  border-radius: 7px;
  position: relative;
  max-width: 580px;
  margin: 0 auto 3em;
}

.listing-posts {
  background: #fff;
  color: #666;
  min-height: 400px;
}

.listing-item {
  border-bottom: 1px solid rgba(0,0,0,0.25);
}

.listing-item a {
  display: block;
  color: #333;
}

.listing-item a:hover,
.listing-item a:focus {
  background: #333;
  background: rgba(50,50,50,0.1);
}

.listing-title {
  font-size: 18px;
  line-height: 24px;
  padding: 24px 20px;
}

.listing-header {
  text-decoration: none;
}

.listing-header:hover {
  text-decoration: none;
}

.listing-header:hover .entry-title {
  text-decoration: underline;
}

.listing-date {
  margin-right: 20px;
  font-weight: normal;
  display: inline-block;
}

.post-pages {
  text-align: center;
  margin: 24px 0;
}

.post-pages span {
  margin: 0.8em;
}

/* ==========================================================================
   Single post
   ========================================================================== */

.blurred-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  /*
    Images are pre-processed, but when testing image
    suitability this filter is helpful.
  */
  /* -webkit-filter: blur(10px); */
  opacity: 0.8;
  z-index: -1;
}

.article-header {
  text-shadow: rgba(0,0,0,0.2) 0 1px 0;
  position: relative;
}

.main-content-title {
  font-style: italic;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px 0;
}

.single-entry-subtitle {
  border-bottom: 1px solid #ddd;
  padding: 12px 10px;
  text-align: center;
  color: #666;
  font-size: 16px;
  margin: -24px -20px 0;
  background: #eee;
  font-style: normal;
}

.single-entry-subtitle:first-child {
  border-radius: 3px 3px 0 0;
  margin-bottom: 24px;
}

.single-entry-content {
  padding: 24px 20px;
  background: #fff;
  color: #666;
  text-shadow: none;
  box-shadow: rgba(30,30,30,0.1) 0 0 2px inset;
  border-radius: 7px;
  margin-left: 170px;
  margin-bottom: 36px;
  width: 580px;
}

/* Pages nestled on top of content */
.pages + .single-entry-content {
  border-radius: 0;
}

.single-entry-content a {
  color: #333;
}

.single-entry-content h2 {
  margin: 48px 0 24px;
  font-size: 24px;
  color: #000;
}

.single-entry-content h3 {
  margin: 24px 0;
  font-size: 20px;
  color: #666;
}

.single-entry-content h4 {
  margin: 24px 0;
  color: #666;
}

.single-entry-content h2:first-child {
  margin-top: 0;
}

.single-entry-content p:last-child,
.single-entry-content img:last-child {
  margin-bottom: 0;
}

.single-entry-content .note {
  text-align: center;
  background: #FCF7DE;
  padding: 24px 20px;
  border-radius: 3px;
  margin-bottom: 24px;
}
.single-entry-content hr {
  border-width: 5px 0 0 0;
  border-top: 5px solid #eee;
  margin: 24px 0;
}

.single-entry-content ul {
  list-style: disc;
  margin-left: 20px;
}

article .meta {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 48px;
}

article .meta time {
  margin-bottom: 12px;
  display: block;
}

article .meta li {
  display: block;
}

.article-footer {
  background: #333;
  background: rgba(0,0,0,0.2);
  padding: 24px;
  width: 572px;
  margin: 0 auto 48px;
  border-radius: 7px;
  font-size: 16px;
  position: relative;
}

.article-footer .next-prev-post {
  position: static;
  text-align: center;
  margin-bottom: 12px;
}

.pages {
  background: #333;
  background: rgba(0,0,0,0.2);
  padding: 12px;
  width: 596px;
  margin: 0 auto 0;
  border-radius: 7px;
  text-align: center;
  font-size: 16px;
}

.pages-top {
  border-radius: 7px 7px 0 0;
}

.pages-bottom {
  border-radius: 0 0 7px 7px;
}

.pages span {
  margin: 0 0.25em;
  font-weight: bold;
}

.pages a span {
  font-weight: normal;
}

.page-nav {
  position: relative;
}

.page-nav .next,
.page-nav .previous {
  position: absolute;
  font-weight: normal;
}

.page-nav .next {
  right: 0;
}

.page-nav .previous {
  left: 0;
}

.single-entry-content + .pages {
  margin: -36px auto 3em;
}

article nav li {
  display: inline;
  margin: 0 0.2em;
}

.single-entry-content p > a > img,
.single-entry-content p > img {
  padding: 24px;
  border-radius: 3px;
  background: #eee;
  background: rgba(0,0,0,0.1);
  display: block;
  margin: 0 auto;
}

.generated-figure {
  margin-top: 24px;
  margin-bottom: 30px; /* 24px + 6px from figcaption */
}

.generated-figure--620 {
  margin-left: -20px;
  margin-right: -20px;
  border-top: 1px solid #ddd;
}

.generated-figure--620 img {
  width: 620px;
}

/* Pull images together when shown next to each other */
.generated-figure + .generated-figure {
  margin-top: -31px;
}

/* Pull image to top when first content in article */
.single-entry-content > .generated-figure:first-child {
  margin-top: -24px;
  border-top: none;
}

.single-entry-content > header + .generated-figure {
  margin-top: 0;
  border-top: none;
}

/* … and the image needs a border radius to fit nicely */
.single-entry-content > .generated-figure:first-child img {
  border-radius: 7px 7px 0 0;
}

/* Pull image to bottom when last content in article */
.single-entry-content > .generated-figure:last-child {
  margin-bottom: -24px;
}

/* … but not when there are pages */
.pages + .single-entry-content > .generated-figure:first-child img {
  border-radius: 0;
}

.generated-figure--620 .generated-figure-image {
  padding: 0;
  border-radius: 0;
}

.generated-figure-caption {
  font-weight: normal;
  text-align: center;
  background: #eee;
  padding: 12px 10px;
  margin-top: -6px;
  margin-bottom: -6px;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
}

/* Food menu
   ========================================================================== */

.menu {
  background: #eee;
  padding: 24px;
  border-radius: 3px;
  margin: 0 0 2em;
}

.menu .menu-header {
  margin: 0 0 24px;
  font-size: 24px;
  color: #000;
}

.menu ol,
.menu ul {
  list-style: disc inside;
  margin: 0;
}
