<footer class="article-footer">
  <%- partial('nav', {keys: false}) %>

  If you’ve found this blog useful we’d really love to hear from you. <strong><a href="/contact/">Get in touch</a></strong>
</footer>
