<%
  prevPage = prevPagePath(post);
  nextPage = nextPagePath(post);

  if (prevPage || nextPage) {
%>
  <div class="page-nav">
    <% if (prevPage) { %>
      <span class="previous">
        <a href="<%= prevPage %>" rel="previous" data-key="left">
          &larr; Previous page
        </a>
      </span>
    <% } %>
    <% if (nextPage) { %>
      <span class="next">
        <a href="<%= nextPage %>" rel="next" data-key="right">
          Next page &rarr;
        </a>
      </span>
    <% } %>
  </div>
<% } %>
