<%
  prevPage = prevPagePath(post);
  nextPage = nextPagePath(post);

  if (prevPage || nextPage) {
%>
  <nav class="nextPage clearfix">
    <% if (prevPage) { %>
      <a href="<%= prevPage %>" data-key="left">
        <span class="previous">&larr; Previous</span>
      </a>
    <% } %>
    <% if (nextPage) { %>
      <a href="<%= nextPage %>"  data-key="right">
        <span class="next">Next &rarr;</span>
      </a>
    <% } %>
  </nav>
<% } %>
